<!DOCTYPE html>
<html lang="mn">
    <head>
        <title>Нэг хуудаст апп</title>
        <script>

            window.onpopstate = function(event) {
                console.log(event.state.section);
                showSection(event.state.section);
            }

            function showSection(section) {                
                fetch(`/section/${section}`)
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    document.querySelector('#content').innerHTML = text;
                });
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        const section = this.dataset.section;

                        // Түүхэнд одоогийн төлөвийг нэмэх
                        history.pushState({section: section}, "", `section${section}`);
                        showSection(section);
                    };
                });
            });
        </script>
    </head>
    <body>
        <h1>Ад үзэгдэх номын тухай</h1>
        <button data-section="1">Хэсэг 1</button>
        <button data-section="2">Хэсэг 2</button>
        <button data-section="3">Хэсэг 3</button>
        <div id="content">
        </div>
    </body>
</html>